@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&family=Varela+Round&display=swap");

:root {
    /* Color */
    --pr-color: #ac0606;
    --sc-color: #fd4848;
    --tr-color: #ebde1f;
    --link-color: #c0392b;
    --desc-color: #565c63;
}
body {
    font-family: "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* padding-top: 82px; */
}

/* Navbar Style */
.logo-image {
    width: 292px;
    height: 43px;
}

.navbar {
    background-color: var(--pr-color);
    opacity: 0.8;
}

.nav-item {
    padding: 0 0.5rem;
}

.btn-login {
    width: 5rem;
}

.active {
    border-bottom: solid var(--tr-color) 3px;
}

/* Home Style */
.deskripsi {
    text-align: justify;
}
.deskripsi-layanan1 {
    font-size: 20px;
}

.layanan-card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/*
.label-layanan:hover {
    transition: all 0.2s ease-in;
} */

/* Carousel style */
.carousel {
    overflow: hidden;
    height: 725px;
}

.carousel-inner img {
    margin: auto;
}

.carousel-caption.caption-1 {
    top: 300px;
    bottom: auto;
    background-color: var(--pr-color);
    opacity: 0.7;
    border-radius: 2rem;
}

.carousel-caption-title {
    font-size: 24px;
}

.carousel-caption.caption-2 {
    top: 250px;
    bottom: auto;
    background-color: var(--pr-color);
    opacity: 0.7;
    border-radius: 2rem;
}

@media (max-width: 500px) {
    .carousel {
        height: 300px;
    }

    .carousel-caption-title {
        font-size: 12px;
    }

    .carousel-caption.caption-1 {
        top: 90px;
        bottom: auto;
        background-color: var(--pr-color);
        opacity: 0.7;
        border-radius: 2rem;
        font-size: 8px;
    }
    .carousel-caption.caption-2 {
        top: 50px;
        bottom: auto;
        background-color: var(--pr-color);
        opacity: 0.7;
        border-radius: 2rem;
        font-size: 8px;
    }
}

/* Layanan Style */

.layanan-main-title {
    font-size: 36px;
}

.layanan-box {
    height: 300px;
    width: 300px;
    border: var(--tr-color) solid 3px;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 1rem 2rem;
    transition: transform 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.layanan-box-link {
    height: 300px;
    width: 300px;
    border: rgb(53, 80, 202) solid 3px;
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 1rem 2rem;
    transition: transform 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.layanan-box:hover {
    border: none;
    background-color: var(--pr-color);
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 0 2rem;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.2s ease-in;
    transform: scale(1.2);
}

/* .layanan-box-link:hover {
    border: none;
    background-color: var(--pr-color);
    border-radius: 2rem;
    padding: 1.5rem;
    margin: 0 2rem;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.2s ease-in;
    transform: scale(1.2);
} */

.layanan-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 60px;
    width: 60px;
    background-color: #1b004d;
    margin: 1rem;
}

.layanan-box:hover .layanan-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 60px;
    width: 60px;
    border: solid var(--tr-color) 3px;
    margin: 1rem;
    transition: all 0.2s ease-in;
}

.layanan-box:hover i {
    color: var(--tr-color);
    transition: all 0.2s ease-in;
}

.layanan-title {
    font-size: 20px;
}

.layanan-desciption {
    font-size: 12px;
}

.layanan-icon i {
    color: white;
}

/* Pengunjung Style */
.container-pengunjung {
    padding-top: 69px;
}

.pengunjung-title {
    font-size: 32px;
}

/* Berita Style */
.container-berita {
    padding-top: 69px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.berita-title-section {
    font-size: 32px;
}

.container-post {
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.post-date {
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
}

.post-title {
    font-size: 21px;
    font-weight: 700;
}

.post-description {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    color: var(--desc-color);
}

.post-description-detail {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    color: var(--desc-color);
    white-space: pre-line;
}

.post-source {
    font-family: "Varela Round", sans-serif;
    font-size: 10px;
    font-style: italic;
}

.populer-title-section {
    font-size: 28px;
}

.vertical-line {
    border-left: 6px solid black;
}

.img-detail {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.vr {
    height: 100vh;
    width: 2px;
    border-radius: 10px;
}

.form-search {
    position: relative;
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
}

.form-search span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}
/*
.left-pan {
    padding-left: 7px;
} */

/* .left-pan i {
    padding-left: 10px;
} */

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}

.post-populer-title {
    font-size: 14px;
}

.post-views {
    font-size: 12px;
    color: #5555d9;
}

.post-views:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .vr {
        display: none;
    }
    .populer-title-section {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    html,
    body {
        overflow-x: hidden;
    }
    .vr {
        display: none;
    }
}

/* Sapa Style */
.container-sapa {
    padding-top: 69px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sapa-title-section {
    font-size: 26px;
}

.sapa-description {
    color: var(--desc-color);
}

/* Gallery Style */
.container-gallery {
    padding-top: 180px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.link-gallery {
    font-size: 16px;
    color: white;
    margin: 1rem 0;
    padding: 0 1.5rem;
}

.link-gallery-box {
    margin-bottom: 2rem;
}

.link-gallery-box:hover {
    border-bottom: solid 4px var(--tr-color);
}

.link-gallery-req {
    border-radius: 40px;
    font-size: 16px;
    color: white;
    background-color: var(--link-color);
}

.gallery-section {
    font-size: 21px;
}

.card-gallery-box {
    width: 300px;
    height: 200px;
}

.card.card-gallery-content {
    border-radius: 1rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.img-container {
    width: auto;
    height: 200px;
    background-color: white;
}

/* Footer Style */

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../assets/img/tugu3.jpeg");
    background-size: cover;
}

.maps-box {
    border-left: white 2px solid;
}

.img-map {
    width: 50;
}
